@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-terracotta: #C0622F;
  --color-saffron: #F4A523;
  --color-cream: #FDF6EC;
  --color-espresso: #1C1008;

  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

body {
  background-color: var(--color-cream);
  color: var(--color-espresso);
}
